/* GENERAL SETTINGS */
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bruno+Ace&family=Open+Sans:wght@300;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F6F8F9;
}

ul, ol, span, li, p, strong, h1, h2, h3, a{
    font-family: 'Open Sans', sans-serif;
}

/* NAVBAR */
.flex{
    display: flex;
}

header{
    font-weight: bold;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
}

/* MAIN CONTENT*/
.container{
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
}

main{
    margin-top: 50px;
    padding: 0px 15px;
}

section{
    background-color: white;
    border-radius: 4px;
}

section a{
    text-decoration: none;
    color: #CBD0D5;
}

.btn{
    border: 1px solid #CBD0D5;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: small;
    font-weight: bold;
    transition: 0.3s background-color linear;
}

.btn:hover{
    background-color: #c1c2c3;
    color: white;
}

.btn-container{
    margin-bottom: 3px;
    padding: 13px 50px;
    gap: 5px;
}

.add{
    background-color: #47ADF1;
    border: none;
    color: white;
}

.add:hover{
    background-color: #1d93e2 ;
}

/* LIST */
.list-container{
    padding: 25px 55px ;
}

ul, ol{
    list-style: none;
}

.list-title{
    font-weight: bolder;
    align-items: center;
    gap: 5px;
    font-size: 20px;
}

.list{
    align-items: center;
    gap: 10px;
    font-weight: bold;
    font-size: 14px;
}

.list-container li{
    padding: 10px 0px;
}
.list-container > ul{
    flex-direction: column;
    gap: 5px;
}

.icon-wrapper{
    justify-content: center;
    align-items: center;
}

.log{
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border-radius: 50%;
    padding: 2px 2px;
    width: 20px;
    height: 20px;    
}

.check{
    color: green;
}

.cross{
    color: red;
}

.sticker{
    color: white;
    padding: 3px 12px;
    font-size: 10px;
    border-radius: 9px;
    align-items: center;
}

.editorial{
    background-color: #47ADF1;
}

.sales{
    background-color: #B0C926;
}

.website{
    background-color: #D863A0 ;
}

.mobile{
    background-color: #F29E33;
}

.recruit{
    background-color: #64C0A9;
}

.goals{
    background-color:#9C72E4 ;
}
